.my-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-top: 20px;
    .header-line {
        width: 400px;
        height: 1px;
        border-bottom: 1px solid #979797;
    }
    .header-collapse {
        max-width: 60%;
        transition: max-width 0.2s;
        .nav-item-parent {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100px;
            padding: 0 50px;
            backdrop-filter: blur(50px);
            background-color: rgba(255, 255, 255, 0.01);
            .nav-item {
                color: #fff;
                text-decoration: none;
                padding: 40px 0;
                font-family: Barlow Condensed;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 2.7px;
                margin-left: 50px;
            }
            .item-active {
                border-bottom: 3px solid white;
            }
        }
    }
}
